<ul>
  <% @folders.each do |folder| %>
    <li class="folder"><%= folder[:title] %>
      <ul>
        <% folder[:feeds].each do |feed| %>
          <li class="feed"><a href="<%= feed[:siteurl] %>"><%= feed[:title] %></a> &mdash; <a href="<%= feed[:feedurl] %>">RSS</a></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% @strayfeeds.each do |strayfeed| %>
      <li class="feed"><a href="<%= strayfeed[:siteurl] %>"><%= strayfeed[:title] %></a> &mdash; <a href="<%= strayfeed[:feedurl] %>">RSS</a></li>
  <% end %>
</ul>