<h1>Listing feedlists</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feedlists.each do |feedlist| %>
  <tr>
    <td><%= feedlist.name %></td>
    <td><%= link_to 'Show', feedlist %></td>
    <td><%= link_to 'Edit', edit_feedlist_path(feedlist) %></td>
    <td><%= link_to 'Destroy', feedlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feedlist', new_feedlist_path %>
